<footer class="footer has-background-black pb-3 has-text-white">
  <div class="container">
    <div class="is-flex row wrap space-between is-centerdY">
      <div class="is-flex row">
        <figure class="image mr-2 is-65x65">
          <img
            class="is-round"
            height="50"
            width="50"
            src="images/logo-white-bg.jpg"
            alt="Nigeria flag"
          />
        </figure>
        <figure class="image is-65x65">
          <img
            style="height: 100%"
            height="50"
            width="50"
            src="images/nigeria-flag-icon.svg"
            alt="fuhso logo"
          />
        </figure>
      </div>
      <div class="is-flex is-column">
        <small
          >Subscribe to our
          news letter</small
        >
        <form class="field has-addons">
          <div class="control">
            <input
              class="input is-small has-background-white"
              type="text"
              placeholder="Enter your email"
            />
          </div>
          <div class="control">
            <button class="button has-text-white theme-bg is-small">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column">
        <h5 class="title is-5 is-uppercase has-text-white">quick links</h5>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About us</a></li>
          <li><a href="">News and Events</a></li>
          <li><a href="">Faculties</a></li>
          <li><a href="">Student portal</a></li>
          <li><a href="">Library</a></li>
          <li><a href="">Research</a></li>
          <li><a href="">SITE MAP</a></li>
        </ul>
      </div>
      <div class="column left-border thin">
        <h5 class="title is-5 is-uppercase has-text-white">contact us</h5>
        <small class="has-text-weight-medium is-uppercase">
          federal university of health science</small
        ><br />
        <br />
        <small>Otada (Temporary site)</small> <br />
        <small>Akwaete-Akpa (Permanent site)</small><br />
        <small>Otukpo LGA, Benue State</small> <br />
        <small>Nigeria</small> <br />
        <br />
        <span
          >Telephone<span class="icon"><i class="fas fa-phone"></i></span>:
          <a href="tel:234123456789" class="is-underlined">+234 123 456 7890</a>
        </span>
        <br />
        <span
          >E-mail <i class="fas fa-envelope"></i> :
          <a href="mailto:info@fuhso.edu.ng" class="is-underlined"
            >info@fuhso.edu.ng</a
          ></span
        >
      </div>
      <div class="column left-border thin">
        <h5 class="title is-5 is-uppercase has-text-white">about fuhso</h5>
        <p>
          The Federal university of Health Sciences Is a specialised Medical
          University based in Nigeria that will will train quality Health care
          professional who will contribute to the health sector of nigeria...
        </p>
        <div class="mapouter mt-3">
          <div class="gmap_canvas">
            <iframe
              width="300"
              height="200"
              id="gmap_canvas"
              src="https://maps.google.com/maps?q=federal%20university%20of%20health%20science%20otukpo&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
            ></iframe>
            <a href="https://123movies-to.org"></a>
            <br />
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="has-text-centered">
      powered by <span class="has-text-weight-bold">Daniel Ekwueme</span>
    </div>
  </div>
</footer>
