    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> FUHSO|<%= title%></title>
    <meta name="description" content="<%= descrip%>">
    <meta name="theme-color" content="#ca3009">
    <meta name="thumbnail" content="/images/apple-touch-icon.png" />
    <meta property="og:title" content="FUHSO| <%= title%>" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= descrip%>" />
    <meta property="og:image" content="/images/logo-white-bg.jpg" />
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content="FUHSO WEBSITE">

    <!-- Twitter Card data -->
    <!-- <meta name="twitter:card" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content=""> -->

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" sizes="32x32" href="/images/favicon.ico">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="canonical" href="" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
    <link rel="stylesheet" href="LIBS/owl.theme.default.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="crossorigin="anonymous" referrerpolicy="no-referrer" />
 
    
