<div class="top-info-bar has-bg-brown p-1" role="navigation">
  <div class="container is-flex space-between wrap">
    <span
      >call us <i class="fa-solid fa-phone"></i>:
      <a class="is-underlined" href="tel:+23480 3256 678"
        >+23480 3256 678</a
      ></span
    >
    <span class="is-hidden-mobile">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li>
            <a href="#">
              <span class="icon is-small">
                <i class="fas fa-user" aria-hidden="true"></i>
              </span>
              <span>Prospective students</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon is-small">
                <i class="fas fa-book" aria-hidden="true"></i>
              </span>
              <span>faculty and staff</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon is-small">
                <i class="fas fa-puzzle-piece" aria-hidden="true"></i>
              </span>
              <span>Alumni</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon is-small">
                <i class="fas fa-house" aria-hidden="true"></i>
              </span>
              <span>FUHSOTH</span>
            </a>
          </li>
        </ul>
      </nav>
    </span>
  </div>
</div>
<div class="logo-container">
  <div class="container p-2 pb-0 is-flex row space-between is-centerdY">
    <div class="logo">
      <img
        loading="lazing"
        height="300"
        width="400"
        src="/images/fuhso.png"
        alt="fuhso logo"
      />
    </div>
    <form class="field has-addons is-hidden-mobile">
      <div class="control">
        <input class="input" type="text" placeholder="Search here..." />
      </div>
      <div class="control">
        <button class="button has-text-white theme-bg">Search</button>
      </div>
    </form>
  </div>
  <div class="brief-notice">
    <span id="scroll-text" class="brown-txt">
      <marquee behavior="" direction="">
        <strong>Notice:</strong> Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Corrupti maiores minus perspiciatis inventore nihil ex
        quisquam nobis doloribus hic ea.</marquee
      >
    </span>
  </div>
</div>
<nav class="navbar theme-bg">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenu" class="navbar-menu theme-bg slide-in-left">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a href="/" class="navbar-link"> HOME </a>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/news" rel="preload"> News/Events </a>
      </div>
      <div
        onclick="setDisplay(this)"
        class="navbar-item has-dropdown is-hoverable is-mega"
      >
        <div class="navbar-link flex">Department</div>
        <div
          id="blogDropdown"
          class="navbar-dropdown theme-gradient"
          data-style="width: 18rem;"
        >
          <div class="container is-fluid">
            <div class="columns">
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">Sub Menu Title</h1>
                <a class="navbar-item" href="">
                  <div class="navbar-content">
                    <p>
                      <small class="has-text-info">03 Aug 2017</small>
                    </p>
                    <p>New feature: list of tags</p>
                  </div>
                </a>
                <a class="navbar-item" href="">
                  <div class="navbar-content">
                    <p>
                      <small class="has-text-info">03 Aug 2017</small>
                    </p>
                    <p>New feature: list of tags</p>
                  </div>
                </a>
                <a class="navbar-item" href="">
                  <div class="navbar-content">
                    <p>
                      <small class="has-text-info">03 Aug 2017</small>
                    </p>
                    <p>New feature: list of tags</p>
                  </div>
                </a>
              </div>
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">Sub Menu Title</h1>
                <a class="navbar-item" href="">
                  <div class="navbar-content">
                    <p>
                      <small class="has-text-info">03 Aug 2017</small>
                    </p>
                    <p>New feature: list of tags</p>
                  </div>
                </a>
                <a class="navbar-item" href=""> Overview </a>
                <a class="navbar-item" href=""> Modifiers </a>
                <a class="navbar-item" href=""> Columns </a>
              </div>
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">Sub Menu Title</h1>
                <a class="navbar-item" href="">
                  <div class="navbar-content">
                    <p>
                      <small class="has-text-info">03 Aug 2017</small>
                    </p>
                    <p>New feature: list of tags</p>
                  </div>
                </a>
                <a class="navbar-item" href="">
                  <div class="navbar-content">
                    <p>
                      <small class="has-text-info">03 Aug 2017</small>
                    </p>
                    <p>New feature: list of tags</p>
                  </div>
                </a>
                <a class="navbar-item" href="">
                  <div class="navbar-content">
                    <p>
                      <small class="has-text-info">03 Aug 2017</small>
                    </p>
                    <p>New feature: list of tags</p>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <!-- <hr class="navbar-divider">
               <div class="navbar-item">
                 <div class="navbar-content">
                   <div class="level is-mobile">
                     <div class="level-left">
                       <div class="level-item">
                         <strong>Stay up to date!</strong>
                       </div>
                     </div>
                     <div class="level-right">
                       <div class="level-item">
                         <a class="button bd-is-rss is-small" href="http://bulma.io/atom.xml">
                           <span class="icon is-small">
                             <i class="fa fa-rss"></i>
                           </span>
                           <span>Subscribe</span>
                         </a>
                       </div>
                     </div>
                   </div>
                 </div>
               </div> -->
        </div>
      </div>

      <div
        onclick="setDisplay(this)"
        class="navbar-item has-dropdown is-hoverable"
      >
        <div class="navbar-link">Who We Are</div>
        <div class="navbar-dropdown theme-txt theme-gradient">
          <a class="navbar-item" href="#">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>about us</strong>
                    <br />
                  </p>
                </div>
              </div>
            </div>
          </a>
          <a class="navbar-item" href="#">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>about the VC</strong>
                  </p>
                </div>
              </div>
            </div>
          </a>
          <a class="navbar-item" href="#">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>administration</strong>
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div
        onclick="setDisplay(this)"
        class="navbar-item has-dropdown is-hoverable"
      >
        <div class="navbar-link">Utility</div>
        <div class="navbar-dropdown theme-txt theme-gradient">
          <a class="navbar-item" href="">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>Student Report</p>
                </div>
              </div>
            </div>
          </a>
          <a class="navbar-item" href="/gpa-calculator" rel="preload">
            Cgpa Calculator
          </a>
        </div>
      </div>
      <div
        onclick="setDisplay(this)"
        class="navbar-item has-dropdown is-hoverable"
      >
        <div class="navbar-link">Faculties</div>
        <div class="navbar-dropdown theme-txt theme-gradient">
          <a class="navbar-item" href="">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>College of medcine</p>
                </div>
              </div>
            </div>
          </a>
          <a class="navbar-item" href=""> Faculty of science </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a href="/faq" class="navbar-link" rel="preload"> FAQS </a>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a href="/contact" class="navbar-link"> Contact Us </a>
      </div>
    </div>
  </div>
</nav>
