<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <%- include('partials/styles') %>
</head>
<body>

  
    <%- include('partials/header')%>
    <body>
      <section class="hero is-relative">
        <div class="hero-body z-20 theme-gradient">
         <div class="container">
            <div class="heading">
                <h1 class="title is-1 is-size-3-mobile menu-label has-text-white"><%= hero_title%></h1>
                <h2 class="subtitle is-3 is-size-5-mobile menu-label has-text-white-ter">
                    <%= hero_subtitle%>
                </h2> <br>
                <a class="button has-text-white has-bg-brown" href="/"> Go To Home</a>
              </div>
         </div>
        </div>
        <img loading="lazy" class="img-overlay z-10 " src="/images/graduands1.jpg" alt="">
      </section>
    </body>
</body>
</html>